@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@400;500&display=swap");
.bg-gradient-chill {
  background: linear-gradient(135deg, #94aaab 0%, #0291e3 100%);
}

.bg-gradient-warm {
  background: linear-gradient(135deg, #fff774 0%, #fd803f 100%);
}

.bg-gradient-hot {
  background: linear-gradient(135deg, #f9445a 0%, #fd803f 100%);
}

.bg-gradient-cold {
  background: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  padding: 0;
  margin: 0;
}

h1 {
  line-height: 27pt;
  color: #8c3921;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
  font-family: "Raleway", sans-serif;
}

h2 {
  line-height: 27pt;
  color: #8c3921;
  font-size: 1.7rem;
  font-weight: 500;
  font-variant-caps: all-petite-caps;
  letter-spacing: 0.3rem;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.7px;
}

a {
  text-decoration: none;
}

section {
  padding: 17px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.success {
  color: #006500;
  text-decoration: underline;
}

.failure {
  color: #ad0021;
  text-decoration: underline;
}

header nav #click {
  display: none;
}

.modal {
  display: none;
}

.modal.active {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  pointer-events: all;
  z-index: 2000;
  padding: 15px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
  top: 30%;
  left: 4%;
  width: 310px;
  height: 280px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal.active .contact-modal-title {
  color: #8c3921;
  line-height: 26px;
  letter-spacing: 4pt;
  font-size: 1.5rem;
  font-weight: 500;
  font-variant-caps: all-petite-caps;
}

.modal.active .close-modal {
  position: relative;
  top: -13%;
  left: 94%;
}

.modal.active .close-modal .close-icon {
  cursor: pointer;
  position: absolute;
  width: 32px;
  height: auto;
}

.modal.active .close-modal .close-icon:hover {
  -webkit-filter: contrast(0);
          filter: contrast(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal.active ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal.active ul li {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.modal.active ul li .modal-icon {
  width: 30px;
  height: auto;
  margin-right: 5px;
}

.modal.active ul li a {
  line-height: 10px;
}

.modal.active ul li a:hover {
  text-decoration: underline;
}

.modal.active ul li a span {
  font-weight: 300;
  color: #8c3921;
  text-decoration: underline;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin: 0px;
  font-size: 16px;
  line-height: 40px;
}

.modal.active ul li a span:hover {
  text-decoration: none;
}

.show-modal.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

#overlay.active {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-container {
  background: #fff8bd;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #8c39212b;
}

.nav-container header {
  width: 100%;
  height: inherit;
}

.nav-container header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav-container header .logo .logo-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container header .logo .logo-placeholder .company-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container header .logo .logo-placeholder .company-logo img {
  width: 80px;
  height: auto;
  border: none;
}

.nav-container header .logo .logo-container {
  display: none;
}

.nav-container header nav ul {
  position: absolute;
  top: 45px;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #fff8bd;
  text-transform: uppercase;
  z-index: 1100;
}

.nav-container header nav ul li {
  width: 100%;
  margin: 25px 0;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-container header nav ul li a {
  color: #8c3921;
  width: 100%;
  margin-left: -100%;
}

.nav-container header nav ul li a:hover {
  background: 0 0;
  color: #0ff;
}

.nav-container header nav ul button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 165px;
  height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #8c3921;
  background-color: #fff;
  border: 1px solid #8c3921;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-container header nav ul button:hover {
  background: #d3cd94;
}

header #click:checked ~ ul {
  left: 0;
}

header #click:checked ~ ul li a {
  position: relative;
  top: 0;
  left: 50%;
}

.menu-btn svg {
  width: 35px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 20px;
}

.menu-btn svg path {
  fill: #8c3921;
}

.make-a-donation-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  border: 1px solid #8c3921;
  border-radius: 2px;
}

.make-a-donation-section .primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 100%;
  padding: 20px 100px;
  margin-top: 0;
  margin-bottom: 1em;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #8c3921;
  border: 1px solid #8c3921;
  border-radius: 5px;
  background: #fff8bd;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.make-a-donation-section .primary-button a {
  color: #8c3921;
}

.make-a-donation-section .primary-button a:hover {
  text-decoration: underline;
}

.make-a-donation-section .primary-button:hover {
  background-color: #d3cd94;
}

.hero-container {
  background-image: url(/img/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 30vh;
}

.hero-content-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.research-qoute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.research-qoute .qoute-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: italic;
}

.research-qoute .qoute-text .signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-style: normal;
}

.editorial-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editorial-card .card-grid_start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editorial-card .card-grid_start .inner .subtitle {
  text-transform: uppercase;
  font-weight: 700;
  color: #903564;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.editorial-card .card-grid_start .inner .editorial-title {
  line-height: 27pt;
  color: #8c3921;
  font-size: 1.7rem;
  font-weight: 500;
  font-variant-caps: all-petite-caps;
  letter-spacing: 0.3rem;
}

.editorial-card .card-grid_start .inner .multi-editorial-banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-gap: 1em;
}

.editorial-card .card-grid_start .inner .multi-editorial-banners img {
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.editorial-card .card-grid_start .inner .editorial-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editorial-card .card-grid_start .inner .editorial-desc span.signature {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  font-style: italic;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.7px;
}

.editorial-card .card-grid_start .inner .editorial-desc_alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2em;
  word-wrap: normal;
  margin-bottom: 2em;
}

.editorial-card .card-grid_start .inner .editorial-desc_alt span.tertiary-link {
  color: #8c3921;
  font-weight: 600;
  max-width: calc(6 * 16px);
  width: 100%;
}

.editorial-card .card-grid_start .inner .editorial-desc_alt span.tertiary-link:hover {
  text-decoration: underline;
}

.contact-page-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-bottom: 30px;
  width: 90vw;
}

.contact-page-section .contact-container {
  border: 1px solid #8c3921;
  border-radius: 5px;
}

.contact-page-section .contact-container .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-page-section .contact-container .contact-form .contact-form-container {
  border-radius: 0;
}

.contact-page-section .contact-container .contact-form .contact-form-container .left {
  background: #b5d9545c;
  padding-top: 0.5em;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area {
  padding: 0.5em;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area .submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #8c3921;
  font-family: "Poppins";
  font-size: 16px;
  background-color: #fff8bd;
  cursor: pointer;
  width: 100%;
  height: 36px;
  margin-bottom: 2em;
  border-radius: 5px;
  border: 1px solid #8c3921;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0 8px 13px -4px #252525;
          box-shadow: 0 8px 13px -4px #252525;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area .submit-button:hover {
  background: #d3cd94;
  color: #8c3921;
  border-color: #8c3921;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-page-section
.contact-container
.contact-form
.contact-form-container
.input-area
label
.text-field::-webkit-input-placeholder {
  color: #3d3d3d;
  font-size: 16px;
  height: 500px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section
.contact-container
.contact-form
.contact-form-container
.input-area
label
.text-field:-ms-input-placeholder {
  color: #3d3d3d;
  font-size: 16px;
  height: 500px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section
.contact-container
.contact-form
.contact-form-container
.input-area
label
.text-field::-ms-input-placeholder {
  color: #3d3d3d;
  font-size: 16px;
  height: 500px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section
.contact-container
.contact-form
.contact-form-container
.input-area
label
.text-field::placeholder {
  color: #3d3d3d;
  font-size: 16px;
  height: 500px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .first-child,
.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .second-child,
.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .third-child {
  cursor: pointer;
  width: 80vw;
  padding: 5px;
  border-bottom: 1px solid #000100;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 16px;
  color: #3d3d3d;
}

.contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .text-field {
  width: 80vw;
  padding: 5px;
  height: 14vh;
  overflow: hidden;
  font-family: "Poppins";
  font-size: 18px;
  color: #3d3d3d;
  cursor: pointer;
}

.thank-you-section {
  padding: 10px;
  background: url(img/come-together-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.thank-you-section .thank-you-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: thank-you-animation 3s;
          animation: thank-you-animation 3s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thank-you-section .thank-you-container .thank-you-message {
  border: 1px solid #8c3921;
  border-radius: 8px;
  background-color: #fff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 280px;
  width: 100%;
}

.thank-you-section .thank-you-container .thank-you-message h1 {
  line-height: 27pt;
  color: #8c3921;
  font-size: 1.7rem;
  font-weight: 500;
  font-variant-caps: all-petite-caps;
  letter-spacing: 5px;
  text-align: center;
}

.thank-you-section .thank-you-container .thank-you-message p span {
  color: #030d8b;
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
}

.thank-you-section .thank-you-container .thank-you-message button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff8bd;
  border: 1px solid #8c3921;
  border-radius: 5px;
  margin: 1em;
  width: 100%;
  height: 30px;
  -webkit-box-shadow: 0 8px 13px -4px lightblue;
          box-shadow: 0 8px 13px -4px lightblue;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.thank-you-section .thank-you-container .thank-you-message button a {
  color: #8c3921;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
}

.thank-you-section .thank-you-container .thank-you-message button:hover {
  background: #d3cd94;
}

@-webkit-keyframes thank-you-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes thank-you-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  border-top: 1px solid #8c3921;
  border-top: 1px solid #8c3921;
  position: relative;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container .footer-details {
  background: #fff8bd;
  color: #8c3921;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1em;
}

footer .footer-container .footer-details .footer-top-bar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-container .footer-details .footer-top-bar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-container .footer-details .footer-top-bar .logo .logo-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: auto;
  margin-right: 9px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container .footer-details .footer-top-bar .logo .logo-placeholder .company-logo img {
  border: none;
}

footer .footer-container .footer-details .footer-top-bar .logo .logo-name {
  font-size: 22px;
  color: #8c3921;
  line-height: 23px;
  font-variant-caps: all-petite-caps;
  letter-spacing: 3pt;
}

footer .footer-container .footer-details .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 15px;
}

footer .footer-container .footer-details .logo-container .mailto-link {
  color: #8c3921;
  text-decoration: underline;
  -webkit-text-decoration-color: #fff8bd;
          text-decoration-color: #fff8bd;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-top: 20px;
}

footer .footer-container .footer-details .logo-container .mailto-link:hover {
  text-decoration: none;
  font-weight: 500;
}

.footer-container .footer-social-icon,
.footer-container small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #8c3921;
  border-bottom: 1px solid gainsboro;
}

.footer-container .footer-social-icon a,
.footer-container small a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

@media only screen and (min-width: 375px) {
  .tools {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .show-modal {
    left: 5%;
  }
  .thank-you-section .thank-you-container .thank-you-message {
    max-width: 365px;
    width: 100%;
  }
}

@media only screen and (min-width: 425px) {
  section {
    padding: 1em;
  }
  .show-modal {
    left: 4%;
    max-width: 84%;
  }
  .thank-you-section .thank-you-container .thank-you-message {
    max-width: 415px;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-name {
    letter-spacing: 5pt;
    margin-top: 0.5em;
  }
}

@media only screen and (min-width: 610px) {
  .nav-container {
    padding-left: 1em;
  }
  .nav-container header .logo .logo-placeholder {
    margin-left: 0.5em;
  }
  .nav-container header .logo .logo-container .logo-name {
    font-size: 2em;
  }
  .menu-btn svg {
    right: 22px;
  }
  .research-qoute {
    margin: 0 1em;
  }
  .featured .left {
    margin: 0 1em;
  }
  .featured .right {
    width: 65%;
    height: auto;
    padding-bottom: 1em;
  }
  /*contact page styles*/
  .contact-page-section {
    background-image: url(/img/thank-you-bkg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .contact-page-section .contact-container .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60vw;
    padding: 0 20px;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60vw;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area {
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .text-field,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area .submit-button {
    width: 54vw;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area label .first-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area label .second-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area label .third-child {
    width: 54vw;
  }
  .show-modal {
    width: 50vw;
    height: 30vh;
    top: 35%;
    left: 20%;
  }
  .thank-you-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url(img/thank-you-bkg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .thank-you-section .thank-you-container {
    padding: 0;
  }
  .thank-you-section .thank-you-container .thank-you-message {
    max-width: 415px;
    margin: 2em;
  }
  footer .footer-container .footer-details {
    padding: 2em;
  }
}

@media only screen and (min-width: 895px) {
  .nav-container header nav ul li {
    font-size: 2rem;
    font-variant-caps: all-petite-caps;
  }
  .nav-container header .logo .logo-placeholder {
    margin-left: 1.3em;
  }
  .nav-container header .logo .logo-container .logo-name {
    font-size: 1.8rem;
    letter-spacing: 5pt;
  }
  .nav-container header .logo .logo-container .logo-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: #fff8bd;
    font-size: 0.8rem;
    letter-spacing: 4.5pt;
    margin-left: 20px;
  }
  .nav-container .hero-container {
    display: -ms-grid;
    display: grid;
    padding: 0;
  }
  .nav-container .hero-container .is-centered .hero-text-content {
    padding: 2em;
  }
  .menu-btn svg {
    right: 2em;
  }
  .hero-container .hero-text-content .hero-button-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero-container .hero-text-content .hero-button-container .primary-button {
    width: 20%;
    margin-right: 1em;
  }
  .hero-container .hero-text-content .hero-button-container .secondary-button {
    width: 20%;
    margin-top: 0;
  }
  .contact-page-section {
    padding: 2.5em;
  }
  .contact-page-section .contact-container .contact-form {
    width: 40vw;
    padding: 1em;
  }
  .contact-page-section .contact-container .contact-form .contact-form-title {
    margin-top: 0;
    font-weight: 500;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left {
    width: 40vw;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .first-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .second-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .third-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .text-field {
    padding: 5px 10px;
    width: 36vw;
    height: auto;
  }
  .show-modal {
    top: 34%;
    left: 29.5%;
    width: 38vw;
  }
  .thank-you-section {
    padding: 0.5em;
  }
  .thank-you-section .thank-you-container .thank-you-message button {
    width: 40%;
    margin-bottom: 1.5em;
  }
  section {
    padding: 1em 2.5em;
  }
  footer .footer-container .footer-details {
    padding: 2.2em;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-name {
    letter-spacing: 5.2pt;
    font-size: 1.8rem;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-title {
    font-size: 1.2rem;
    letter-spacing: 2pt;
  }
}

@media only screen and (min-width: 1050px) {
  .nav-container {
    height: 60px;
    width: 100%;
  }
  .nav-container header .logo .logo-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
  .nav-container header .logo .logo-container .logo-name {
    font-size: 1.5rem;
    letter-spacing: 11pt;
  }
  .nav-container header .logo .logo-container .logo-title {
    letter-spacing: 4.5pt;
    margin-left: 0;
  }
  .nav-container header .logo .logo-placeholder {
    padding: 1.5em 1em 1.5em 1.5em;
  }
  .nav-container header .logo .logo-placeholder .company-logo img {
    height: 35px;
    width: auto;
  }
  .menu-btn svg {
    top: 0.7em;
    right: 3.1em;
    width: 35px;
    height: auto;
  }
  .hero-container {
    margin: 0;
    padding: 0;
  }
  .hero-container .hero-text-content {
    background: linear-gradient(148deg, #0000000d -65%, #ffffff00 100%);
    padding: 4rem;
    padding-bottom: 2em;
  }
  .hero-container .mouse-scroller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-container .mouse-scroller .mouse {
    width: 10px;
    padding: 5px 6px;
    height: 35px;
    border: 1px solid black;
    border-radius: 25px;
    opacity: 0.75;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin-bottom: 20px;
  }
  .hero-container .mouse-scroller .mouse .mouse-animation {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    -webkit-animation: scroll 3s linear infinite;
            animation: scroll 3s linear infinite;
  }
  @-webkit-keyframes scroll {
    from {
      opacity: 1;
      position: relative;
      top: 0;
    }
    to {
      opacity: 0.5;
      position: relative;
      top: 25px;
    }
  }
  @keyframes scroll {
    from {
      opacity: 1;
      position: relative;
      top: 0;
    }
    to {
      opacity: 0.5;
      position: relative;
      top: 25px;
    }
  }
  .mobile-social-icon {
    display: none;
  }
  .research-qoute {
    margin: 0 3em;
    padding-bottom: 2.5em;
  }
  .featured {
    padding: 3em 4em;
  }
  .featured .left .inner p .primary-button {
    color: #8c3921;
    font-weight: 500;
    text-decoration: underline;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .featured .left .inner p .primary-button:hover {
    text-decoration: none;
  }
  .featured .right button {
    cursor: pointer;
    width: 20vw;
  }
  .skills {
    padding: 2em 3em;
  }
  .skills .skills-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .skills .skills-container ul li {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 1em;
  }
  .skills .skills-container ul li .icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills .skills-container ul li .icon-container .two {
    margin: 3em auto;
    width: auto;
  }
  .skills .skills-container ul li .icon-container .three {
    margin: 2.2em auto;
    width: auto;
  }
  .skills .skills-container ul li .icon-container img {
    padding: 0;
    width: 140%;
    height: auto;
  }
  .skills .skills-container ul li .skill-title {
    font-size: 2rem;
  }
  .portfolio {
    padding: 0;
  }
  .portfolio .portfolio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 3em;
  }
  .portfolio .portfolio-container .right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio .portfolio-container .right img {
    width: 36vw;
    height: 30vh;
    margin-top: 2em;
  }
  .portfolio .portfolio-container .right .case-study-button {
    width: 20vw;
  }
  .about {
    padding: 4em;
    padding-right: 3em;
  }
  .about .about-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 2em;
  }
  .about .about-container ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .about .about-container ul li .icon-container {
    padding: 0;
  }
  .about .about-container ul li .icon-container .degree-image {
    width: 8.5vw;
  }
  .about .about-container ul li .icon-container img {
    width: 5.9em;
    height: auto;
  }
  .about .about-container ul li .deliverables-img svg {
    width: 290px;
    height: auto;
  }
  .about .about-container ul .business-model .business-model-icon img {
    width: 260px;
  }
  .about .about-container ul .column-stretch {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .contact-page-section {
    padding: 4em;
  }
  .contact-page-section .show-modal {
    top: 40%;
    left: 30%;
    width: 39vw;
    height: auto;
  }
  .thank-you-section {
    padding: 0.5em;
  }
  section {
    padding: 1em 4em;
  }
  .nav-container header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 50px;
  }
  .nav-container header .logo .logo-placeholder .company-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-container .footer-details {
    padding: 4em;
  }
  .footer-social-icon a:hover {
    opacity: 0.5;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

@media only screen and (min-width: 1250px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    background: #fff8bd;
  }
  .nav-container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    background: #fff8bd;
  }
  .nav-container header .logo {
    padding-left: 2.5em;
  }
  .nav-container header .logo .logo-placeholder {
    padding: 0;
  }
  .nav-container header .logo .logo-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
  }
  .nav-container header .logo .logo-container .logo-name {
    line-height: 20px;
    font-variant-caps: all-petite-caps;
  }
  .nav-container header nav {
    max-height: 60px;
    height: 100%;
  }
  .nav-container header nav ul {
    position: revert;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: transparent;
    height: 60px;
  }
  .nav-container header nav ul li {
    font-size: 18px;
    width: 26%;
  }
  .nav-container header nav ul li a {
    padding: 0 10px;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  .nav-container header nav ul li a:hover {
    color: cyan;
  }
  .nav-container header nav ul li .primary-button {
    display: none;
  }
  .menu-btn svg {
    display: none;
  }
  .hero-container {
    height: 88vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% auto;
        grid-template-columns: 70% auto;
  }
  .hero-container .hero-text-content {
    padding: 7em 5em 0em 4em;
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
  }
  .hero-container .col {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .hero-container .col .hero-index-vector {
    width: 25vw;
    height: auto;
  }
  .featured .right img {
    width: 70%;
  }
  .about .about-container ul li {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about .about-container ul li .icon-container img,
  .about .about-container ul li .icon-container .degree-image {
    width: 94.39px;
    height: 96.67px;
  }
  .about .about-container ul .business-model .business-model-icon {
    padding: 0;
  }
  .portfolio .portfolio-container .right img {
    width: 26vw;
  }
  .portfolio .portfolio-container .right .case-study-button,
  .featured .right button {
    width: 17vw;
  }
  .contact-page-section {
    padding: 2em;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area .submit-button {
    width: 15vw;
  }
  .contact-page-section .show-modal {
    top: 40%;
    left: 35%;
    width: 30vw;
    height: auto;
  }
  .thank-you-section .thank-you-container .thank-you-message {
    margin: 2em;
    padding: 1em;
  }
  footer .footer-container .footer-details {
    padding: 5em;
  }
}

/*Large Laptop/ Desktop viewport styles */
@media only screen and (min-width: 1550px) {
  .nav-container header .logo {
    padding-left: 7.5em;
  }
  .nav-container header .logo .logo-placeholder {
    margin-left: 1.5em;
  }
  .nav-container header .logo .logo-container {
    margin-left: 10px;
  }
  .nav-container header .logo .logo-container .logo-title {
    font-size: 13px;
  }
  .nav-container header nav ul {
    position: relative;
    top: 0;
    left: -11px;
  }
  .hero-container .hero-text-content {
    padding: 8em 2em 0em 9em;
  }
  .portfolio .portfolio-container .right .case-study-button,
  .featured .right button {
    width: 12vw;
  }
  .research-qoute {
    padding: 0 6em;
    padding-bottom: 6em;
  }
  .featured {
    padding: 3em 2em;
  }
  .featured:before {
    left: 7em;
  }
  .featured .left {
    margin: 0 7em;
  }
  .featured .left .inner .subtitle {
    text-align: left;
  }
  .skills {
    padding: 13em 8em;
  }
  .skills .skills-container ul li {
    margin-bottom: 1em;
  }
  .skills .skills-container ul li .one {
    margin-top: 0;
  }
  .skills .skills-container ul li .two {
    margin-top: 2em;
  }
  .skills .skills-container ul p {
    font-size: 1em;
  }
  .portfolio {
    padding: 8em;
  }
  .portfolio .portfolio-container {
    margin: 0;
  }
  .portfolio .portfolio-container .portfolio-left .inner .featured-title {
    font-size: 1.3rem;
  }
  .portfolio .portfolio-container .portfolio-left .inner .featured-desc {
    font-size: 1em;
  }
  .portfolio .portfolio-container .right img {
    height: 27vh;
    width: 20vw;
    margin-top: 1em;
  }
  .about {
    padding: 9em;
  }
  .about .about-container ul .business-model .business-model-icon {
    height: 100px;
    width: auto;
    display: -ms-grid;
    display: grid;
    padding: 3em;
    place-content: center;
  }
  .about .about-container ul .business-model .business-model-icon img {
    width: 260px;
    height: auto;
  }
  .about .about-container ul li {
    padding-top: 3em;
  }
  .about .about-container ul li .icon-container .deliverables-title {
    padding: 1em;
  }
  .about .about-container ul li .icon-container .about-title {
    padding: 1em;
  }
  .contact-page-section {
    padding: 0em;
  }
  .contact-page-section .contact-container {
    margin: 4em;
  }
  .contact-page-section .show-modal {
    width: 25vw;
  }
  .contact-page-section .show-modal .close-modal .close-icon {
    position: relative;
    top: -34px;
    left: 186px;
  }
  section {
    padding: 1em 9em;
  }
  footer .footer-container .footer-details {
    padding: 2em 13em;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-placeholder {
    margin-right: 16px;
    margin-left: -3.2em;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-placeholder .company-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-placeholder .company-logo img {
    width: 40px;
  }
  footer .footer-container .footer-details .logo-container .logo-name {
    line-height: 23px;
    letter-spacing: 10pt;
  }
  footer .footer-container .footer-details .logo-container .logo-title {
    font-size: 14px;
    letter-spacing: 4.1pt;
    font-variant-caps: inherit;
  }
}

@media only screen and (min-width: 1900px) {
  .nav-container header .logo {
    padding-left: 13em;
  }
  .hero-container {
    height: 95vh;
  }
  .hero-container .hero-text-content {
    padding: 14em 6em 0em 14em;
  }
  .research-qoute {
    padding: 1em 11em 4em 11em;
  }
  .featured {
    padding: 7em;
  }
  .featured::before {
    left: 10em;
    top: 3em;
  }
  .featured .right img {
    width: 50%;
  }
  .skills,
  .portfolio {
    padding: 13em;
  }
  .about {
    padding: 14em;
  }
  .portfolio {
    padding: 15em;
  }
  .portfolio .portfolio-container {
    margin: 2em 0;
    grid-gap: 5em;
  }
  .portfolio .portfolio-container .portfolio-left {
    margin: 0;
  }
  .portfolio .portfolio-container .portfolio-left .inner .subtitle {
    margin-top: 0;
  }
  .portfolio .portfolio-container .right img {
    height: 27vh;
    width: 20vw;
    margin-top: 0;
  }
  .hero-container.remind-me-project {
    height: 92vh;
  }
  .hero-container.remind-me-project .is-centered {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-container.remind-me-project .is-centered .hero-text-content {
    padding: 14em;
  }
  .hero-container.remind-me-project .is-centered .hero-text-content .hero-title-case-study .hero-title {
    font-weight: 900;
  }
  .hero-container.remind-me-project .is-centered .hero-text-content .hero-title-case-study .hero-subtitle {
    font-size: 32px;
    font-weight: 900;
    background-color: #f0f8ff33;
  }
  .hero-container.guitar-project .is-centered .hero-text-content {
    margin-left: 10em;
  }
  .contact-page-section {
    padding: 3em;
  }
  .contact-page-section .contact-container {
    margin: 0;
  }
  .contact-page-section .contact-container .contact-form {
    width: 30vw;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left {
    width: 30vw;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area .submit-button {
    width: 12vw;
  }
  .contact-page-section .show-modal {
    top: 38%;
    left: 36.5%;
    width: 25vw;
    height: auto;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 25px 28px 50px 9px #c4c4c47a;
            box-shadow: 0px 10px 13px -7px #000000, 25px 28px 50px 9px #c4c4c47a;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
  }
  .contact-page-section .show-modal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    grid-gap: 3em;
  }
  .contact-page-section .show-modal ul li {
    padding: 2em;
  }
  .contact-page-section .show-modal .close-modal .close-icon {
    position: relative;
    top: -37px;
    left: 460px;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .first-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .second-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .third-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .text-field {
    width: 25vw;
    height: auto;
  }
  section {
    padding: 2em 14em;
  }
  footer .footer-container .footer-details {
    padding: 5em 18em;
  }
}
/*# sourceMappingURL=style.css.map */