@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@400;500&display=swap");
// color variables
$core-neutral: #fff;
$core-dark: #8c3921;
$core-light: #fff8bd;
$core-light_hover-state: #d3cd94;
$core-disabled: lightgrey;
$brand-color: $core-light;
$tertiary: #213550;
$success: #006500;
$fail: #ad0021;

// buttons
$primary-background: $core-neutral;
$primary-core: $core-dark;
$secondary-core: $core-light;
$tertiary-core: $tertiary;
$core-button-border: $primary-core;
$button-border-settings: 1px solid $primary-core;
$button-hover-state: all 0.5s ease-in-out;
$image-border-settings: 1px solid gainsboro;
//
// Gradient system
//
$gradients: () !default;
$gradients: map-merge(
  (
    chill: linear-gradient(135deg, #94aaab 0%, #0291e3 100%),
    warm: linear-gradient(135deg, #fff774 0%, #fd803f 100%),
    hot: linear-gradient(135deg, #f9445a 0%, #fd803f 100%),
    cold: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%),
  ),
  $gradients
);

// Gradient backgrounds
@mixin bg-gradient($parent, $gradient) {
  #{$parent} {
    background: $gradient;
  }
}
// gradient class
@each $gradient, $value in $gradients {
  @include bg-gradient(".bg-gradient-#{$gradient}", $value);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  padding: 0;
  margin: 0;
}

h1 {
  line-height: 27pt;
  color: $core-dark;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
  font-family: "Raleway", sans-serif;
}

h2 {
  line-height: 27pt;
  color: $core-dark;
  font-size: 1.7rem;
  font-weight: 500;
  font-variant-caps: all-petite-caps;
  letter-spacing: 0.3rem;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.7px;
}

a {
  text-decoration: none;
}

section {
  padding: 17px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  border: $image-border-settings;
  border-radius: 5px;
}

.success {
  color: $success;
  text-decoration: underline;
}
.failure {
  color: $fail;
  text-decoration: underline;
}

header nav #click {
  display: none;
}

.modal {
  display: none;
}

.modal.active {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  pointer-events: all;
  z-index: 2000;
  padding: 15px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
  top: 30%;
  left: 4%;
  width: 310px;
  height: 280px;
  transition: all 0.5s ease-in-out;
  .contact-modal-title {
    color: $core-dark;
    line-height: 26px;
    letter-spacing: 4pt;
    font-size: 1.5rem;
    font-weight: 500;
    font-variant-caps: all-petite-caps;
  }

  .close-modal {
    position: relative;
    top: -13%;
    left: 94%;
    .close-icon {
      cursor: pointer;
      position: absolute;
      width: 32px;
      height: auto;
      &:hover {
        filter: contrast(0);
        transition: all 0.5s ease-in-out;
      }
    }
  }
  ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    li {
      padding: 10px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .modal-icon {
        width: 30px;
        height: auto;
        margin-right: 5px;
      }
      a {
        line-height: 10px;
        &:hover {
          text-decoration: underline;
        }
        span {
          font-weight: 300;
          color: $core-dark;
          text-decoration: underline;
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          margin: 0px;
          font-size: 16px;
          line-height: 40px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.show-modal.active {
  visibility: visible;
  opacity: 1;
  transition: 1.5s;
}

#overlay.active {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

.nav-container {
  background: $brand-color;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #8c39212b;
  header {
    width: 100%;
    height: inherit;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .logo-placeholder {
        display: flex;
        .company-logo {
          display: flex;
          img {
            width: 80px;
            height: auto;
            border: none;
          }
        }
      }
      .logo-container {
        display: none;
      }
    }
  }
}

.nav-container header nav ul {
  position: absolute;
  top: 45px;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: $button-hover-state;
  background: $secondary-core;
  text-transform: uppercase;
  z-index: 1100;
  li {
    width: 100%;
    margin: 25px 0;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    a {
      color: $core-dark;
      width: 100%;
      margin-left: -100%;
      &:hover {
        background: 0 0;
        color: #0ff;
      }
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: $core-dark;
    background-color: $core-neutral;
    border: $button-border-settings;
    border-radius: 5px;
    transition: $button-hover-state;
    &:hover {
      background: $core-light_hover-state;
    }
  }
}

header #click:checked ~ ul {
  left: 0;
}

header #click:checked ~ ul li a {
  position: relative;
  top: 0;
  left: 50%;
}

.menu-btn {
  svg {
    width: 35px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 20px;
    path {
      fill: $core-dark;
    }
  }
}

.make-a-donation-section {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid $core-dark;
  border-radius: 2px;
  .primary-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    padding: 20px 100px;
    margin-top: 0;
    margin-bottom: 1em;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $core-dark;
    border: $button-border-settings;
    border-radius: 5px;
    background: $core-light;
    transition: all 1s ease-in-out;
    a {
      color: $core-dark;
      &:hover {
        text-decoration: underline;
      }
    }
    &:hover {
      background-color: $core-light_hover-state;
    }
  }
}

.hero-container {
  background-image: url(/img/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 30vh;
}

.hero-content-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.research-qoute {
  display: flex;
  .qoute-text {
    display: flex;
    flex-direction: column;
    font-style: italic;
    .signature {
      display: flex;
      justify-content: flex-end;
      font-style: normal;
    }
  }
}

.editorial-card {
  display: flex;
  .card-grid_start {
    display: flex;
    flex-direction: column;
    .inner {
      .subtitle {
        text-transform: uppercase;
        font-weight: 700;
        color: #903564;
        letter-spacing: 0.2em;
        font-size: 0.85em;
      }
      .editorial-title {
        line-height: 27pt;
        color: $primary-core;
        font-size: 1.7rem;
        font-weight: 500;
        font-variant-caps: all-petite-caps;
        letter-spacing: 0.3rem;
      }
      .multi-editorial-banners {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        grid-gap: 1em;
        img {
          border: 1px solid gainsboro;
          border-radius: 5px;
        }
      }
      .editorial-desc {
        display: flex;
        flex-direction: column;
        span.signature {
          justify-content: flex-end;
          text-align: right;
          font-style: italic;
          font-family: "Raleway", sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 30px;
          letter-spacing: 1.7px;
        }
      }
      .editorial-desc_alt {
        display: flex;
        flex-direction: column;
        margin-right: 2em;
        word-wrap: normal;
        margin-bottom: 2em;
        span.tertiary-link {
          color: $core-dark;
          font-weight: 600;
          max-width: calc(6 * 16px);
          width: 100%;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// contact form styles
.contact-page-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
  width: 90vw;
  .contact-container {
    border: $button-border-settings;
    border-radius: 5px;
    .contact-form {
      display: flex;
      .contact-form-container {
        border-radius: 0;
        .left {
          background: #b5d9545c;
          padding-top: 0.5em;
        }
        .input-area {
          padding: 0.5em;
          .submit-button {
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $core-dark;
            font-family: "Poppins";
            font-size: 16px;
            background-color: $brand-color;
            cursor: pointer;
            width: 100%;
            height: 36px;
            margin-bottom: 2em;
            border-radius: 5px;
            border: $button-border-settings;
            transition: all 0.5s ease-in-out;
            box-shadow: 0 8px 13px -4px #252525;
            &:hover {
              background: $core-light_hover-state;
              color: $core-dark;
              border-color: $core-dark;
            }
          }
          span {
            display: flex;
          }
        }
      }
    }
  }
}

.contact-page-section
  .contact-container
  .contact-form
  .contact-form-container
  .input-area
  label
  .text-field::placeholder {
  color: #3d3d3d;
  font-size: 16px;
  height: 500px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .first-child,
.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .second-child,
.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .third-child {
  cursor: pointer;
  width: 80vw;
  padding: 5px;
  border-bottom: 1px solid #000100;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 16px;
  color: #3d3d3d;
}

.contact-page-section .contact-container .contact-form .contact-form-container {
  .left {
    .input-area label .text-field {
      width: 80vw;
      padding: 5px;
      height: 14vh;
      overflow: hidden;
      font-family: "Poppins";
      font-size: 18px;
      color: #3d3d3d;
      cursor: pointer;
    }
  }
}

// thank you page styles
.thank-you-section {
  padding: 10px;
  background: url(img/come-together-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  .thank-you-container {
    display: flex;
    animation: thank-you-animation 3s;
    justify-content: center;
    .thank-you-message {
      border: 1px solid $core-dark;
      border-radius: 8px;
      background-color: $core-neutral;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 280px;
      width: 100%;
      h1 {
        line-height: 27pt;
        color: $core-dark;
        font-size: 1.7rem;
        font-weight: 500;
        font-variant-caps: all-petite-caps;
        letter-spacing: 5px;
        text-align: center;
      }
      p span {
        color: #030d8b;
        font-style: italic;
        font-size: 14px;
        font-weight: 500;
      }
      button {
        a {
          color: $core-dark;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 17px;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $core-light;
        border: 1px solid $core-dark;
        border-radius: 5px;
        margin: 1em;
        width: 100%;
        height: 30px;
        box-shadow: 0 8px 13px -4px lightblue;
        transition: $button-hover-state;
        &:hover {
          background: $core-light_hover-state;
        }
      }
    }
  }
}

@keyframes thank-you-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Global Footer styles

footer {
  border-top: $button-border-settings;
  border-top: $button-border-settings;
  position: relative;
  .footer-container {
    display: flex;
    flex-direction: column;
    .footer-details {
      background: $secondary-core;
      color: $core-dark;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1em;
      .footer-top-bar {
        flex-direction: row;
        .logo {
          display: flex;
          flex-direction: row;
          .logo-placeholder {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: auto;
            margin-right: 9px;
            flex-direction: column;
            .company-logo img {
              border: none;
            }
          }
          .logo-name {
            font-size: 22px;
            color: $core-dark;
            line-height: 23px;
            font-variant-caps: all-petite-caps;
            letter-spacing: 3pt;
          }
        }
      }
      .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-bottom: 15px;
        .mailto-link {
          color: $core-dark;
          text-decoration: underline;
          text-decoration-color: $core-light;
          transition: $button-hover-state;
          margin-top: 20px;
          &:hover {
            text-decoration: none;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.footer-container .footer-social-icon,
.footer-container small {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $core-dark;
  border-bottom: 1px solid gainsboro;
  a {
    display: flex;
    padding: 1rem;
  }
}

// Medium mobile Phone Viewport styles
@media only screen and (min-width: 375px) {
  .tools {
    flex-direction: row;
  }

  .show-modal {
    left: 5%;
  }

  .thank-you-section .thank-you-container .thank-you-message {
    max-width: 365px;
    width: 100%;
  }
}

// Large mobile Phone Viewport styles
@media only screen and (min-width: 425px) {
  section {
    padding: 1em;
  }

  .show-modal {
    left: 4%;
    max-width: 84%;
  }

  .thank-you-section .thank-you-container .thank-you-message {
    max-width: 415px;
  }

  footer .footer-container .footer-details .footer-top-bar .logo .logo-name {
    letter-spacing: 5pt;
    margin-top: 0.5em;
  }
}

// tablets to small laptops
@media only screen and (min-width: 610px) {
  .nav-container {
    padding-left: 1em;
    header .logo {
      .logo-placeholder {
        margin-left: 0.5em;
      }
      .logo-container .logo-name {
        font-size: 2em;
      }
    }
  }
  .menu-btn svg {
    right: 22px;
  }

  .research-qoute {
    margin: 0 1em;
  }

  .featured .left {
    margin: 0 1em;
  }
  .featured .right {
    width: 65%;
    height: auto;
    padding-bottom: 1em;
  }

  /*contact page styles*/
  .contact-page-section {
    background-image: url(/img/thank-you-bkg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .contact-container .contact-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 60vw;
      padding: 0 20px;
      .contact-form-container {
        .left {
          align-items: center;
          justify-content: center;
          width: 60vw;

          .input-area {
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            label .text-field,
            .submit-button {
              width: 54vw;
            }
          }
        }
      }
    }
  }

  .contact-page-section .contact-container .contact-form .contact-form-container .input-area label .first-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area label .second-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area label .third-child {
    width: 54vw;
  }

  .show-modal {
    width: 50vw;
    height: 30vh;
    top: 35%;
    left: 20%;
  }

  // thank you page styles
  .thank-you-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/thank-you-bkg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    .thank-you-container {
      padding: 0;
      .thank-you-message {
        max-width: 415px;
        margin: 2em;
      }
    }
  }

  footer .footer-container .footer-details {
    padding: 2em;
  }
}

// Styles for tablets and small laptops
@media only screen and (min-width: 895px) {
  .nav-container {
    header {
      nav ul li {
        font-size: 2rem;
        font-variant-caps: all-petite-caps;
      }
      .logo {
        .logo-placeholder {
          margin-left: 1.3em;
        }
        .logo-container {
          .logo-name {
            font-size: 1.8rem;
            letter-spacing: 5pt;
          }
          .logo-title {
            display: flex;
            align-items: flex-end;
            color: $core-light;
            font-size: 0.8rem;
            letter-spacing: 4.5pt;
            margin-left: 20px;
          }
        }
      }
    }
    .hero-container {
      display: grid;
      padding: 0;
      .is-centered {
        .hero-text-content {
          padding: 2em;
        }
      }
    }
  }
  .menu-btn svg {
    right: 2em;
  }

  .hero-container .hero-text-content .hero-button-container {
    flex-direction: row;
    justify-content: flex-start;
    .primary-button {
      width: 20%;
      margin-right: 1em;
    }
    .secondary-button {
      width: 20%;
      margin-top: 0;
    }
  }

  // contact page styles

  .contact-page-section {
    padding: 2.5em;
    .contact-container .contact-form {
      width: 40vw;
      padding: 1em;
      .contact-form-title {
        margin-top: 0;
        font-weight: 500;
      }
      .contact-form-container {
        .left {
          width: 40vw;
        }
      }
    }
  }

  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .first-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .second-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .third-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .text-field {
    padding: 5px 10px;
    width: 36vw;
    height: auto;
  }

  .show-modal {
    top: 34%;
    left: 29.5%;
    width: 38vw;
  }

  // Thank you styles

  .thank-you-section {
    padding: 0.5em;
    .thank-you-container .thank-you-message button {
      width: 40%;
      margin-bottom: 1.5em;
    }
  }

  section {
    padding: 1em 2.5em;
  }

  footer .footer-container .footer-details {
    padding: 2.2em;
    .footer-top-bar .logo .logo-container {
      .logo-name {
        letter-spacing: 5.2pt;
        font-size: 1.8rem;
      }
      .logo-title {
        font-size: 1.2rem;
        letter-spacing: 2pt;
      }
    }
  }
}

//Styles for Laptops
@media only screen and (min-width: 1050px) {
  .nav-container {
    height: 60px;
    width: 100%;
    header {
      .logo {
        .logo-container {
          flex-direction: column;
          margin-left: 0;
          .logo-name {
            font-size: 1.5rem;
            letter-spacing: 11pt;
          }
          .logo-title {
            letter-spacing: 4.5pt;
            margin-left: 0;
          }
        }
        .logo-placeholder {
          padding: 1.5em 1em 1.5em 1.5em;
          .company-logo {
            img {
              height: 35px;
              width: auto;
            }
          }
        }
      }
    }
  }

  .menu-btn svg {
    top: 0.7em;
    right: 3.1em;
    width: 35px;
    height: auto;
  }

  // index page styles
  .hero-container {
    margin: 0;
    padding: 0;

    .hero-text-content {
      background: linear-gradient(148deg, #0000000d -65%, #ffffff00 100%);
      padding: 4rem;
      padding-bottom: 2em;
    }
    .mouse-scroller {
      display: flex;
      justify-content: center;
      .mouse {
        width: 10px;
        padding: 5px 6px;
        height: 35px;
        border: 1px solid black;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;
        margin-bottom: 20px;
        .mouse-animation {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: black;
          animation: scroll 3s linear infinite;
        }
      }
    }
  }

  @keyframes scroll {
    from {
      opacity: 1;
      position: relative;
      top: 0;
    }
    to {
      opacity: 0.5;
      position: relative;
      top: 25px;
    }
  }

  .mobile-social-icon {
    display: none;
  }

  .research-qoute {
    margin: 0 3em;
    padding-bottom: 2.5em;
  }

  .featured {
    .left {
      .inner {
        p .primary-button {
          color: $primary-core;
          font-weight: 500;
          text-decoration: underline;
          transition: $button-hover-state;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    padding: 3em 4em;
    .right button {
      cursor: pointer;
      width: 20vw;
    }
  }

  .skills {
    padding: 2em 3em;
    .skills-container ul {
      display: flex;
      flex-direction: row;
      li {
        justify-content: space-evenly;
        margin-left: 1em;
        .icon-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .two {
            margin: 3em auto;
            width: auto;
          }
          .three {
            margin: 2.2em auto;
            width: auto;
          }
          img {
            padding: 0;
            width: 140%;
            height: auto;
          }
        }
        .skill-title {
          font-size: 2rem;
        }
      }
    }
  }

  .portfolio {
    padding: 0;
    .portfolio-container {
      display: flex;
      flex-direction: row;
      margin: 0 3em;
      .right {
        justify-content: center;
        img {
          width: 36vw;
          height: 30vh;
          margin-top: 2em;
        }
        .case-study-button {
          width: 20vw;
        }
      }
    }
  }

  .about {
    padding: 4em;
    padding-right: 3em;
    .about-container {
      ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 2em;
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 0;
          .icon-container {
            padding: 0;
            .degree-image {
              width: 8.5vw;
            }
            img {
              width: 5.9em;
              height: auto;
            }
          }
          .deliverables-img svg {
            width: 290px;
            height: auto;
          }
        }
        .business-model {
          .business-model-icon img {
            width: 260px;
          }
        }
        .column-stretch {
          grid-column: 1/3;
        }
      }
    }
  }

  // contact page styles
  .contact-page-section {
    padding: 4em;
    .show-modal {
      top: 40%;
      left: 30%;
      width: 39vw;
      height: auto;
    }
  }

  // thank you page styles
  .thank-you-section {
    padding: 0.5em;
  }

  section {
    padding: 1em 4em;
  }
  // remind-me
  .nav-container header .logo {
    display: flex;
    max-height: 50px;
    .logo-placeholder .company-logo {
      justify-content: center;
      align-items: center;
    }
  }

  footer .footer-container .footer-details {
    padding: 4em;
  }
  .footer-social-icon a:hover {
    opacity: 0.5;
    transition: $button-hover-state;
  }
}

@media only screen and (min-width: 1250px) {
  .nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: $secondary-core;
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      background: $brand-color;
      .logo {
        padding-left: 2.5em;
        .logo-placeholder {
          padding: 0;
        }
        .logo-container {
          flex-direction: column;
          margin-left: 20px;
          .logo-name {
            line-height: 20px;
            font-variant-caps: all-petite-caps;
          }
        }
      }
      nav {
        max-height: 60px;
        height: 100%;
        ul {
          position: revert;
          flex-direction: row;
          background: transparent;
          height: 60px;
          li {
            font-size: 18px;
            width: 26%;
            a {
              padding: 0 10px;
              transition: 1s all;
              &:hover {
                color: cyan;
              }
            }
            .primary-button {
              display: none;
            }
          }
        }
      }
    }
  }

  .menu-btn svg {
    display: none;
  }

  // index hero
  .hero-container {
    height: 88vh;
    display: grid;
    grid-template-columns: 70% auto;
    .hero-text-content {
      padding: 7em 5em 0em 4em;
      display: grid;
      grid-gap: 1em;
    }
    .col {
      margin-bottom: 0;
      padding-bottom: 0;
      .hero-index-vector {
        width: 25vw;
        height: auto;
      }
    }
  }

  .featured .right img {
    width: 70%;
  }

  .about .about-container ul li {
    justify-content: space-evenly;
  }

  .about .about-container ul li .icon-container img,
  .about .about-container ul li .icon-container .degree-image {
    width: 94.39px;
    height: 96.67px;
  }

  .about .about-container ul .business-model .business-model-icon {
    padding: 0;
  }

  .portfolio .portfolio-container .right img {
    width: 26vw;
  }

  .portfolio .portfolio-container .right .case-study-button,
  .featured .right button {
    width: 17vw;
  }

  // contact-page styles

  .contact-page-section {
    padding: 2em;
    .contact-container .contact-form .contact-form-container .left .input-area .submit-button {
      width: 15vw;
    }
    .show-modal {
      top: 40%;
      left: 35%;
      width: 30vw;
      height: auto;
    }
  }

  // Thank you page

  .thank-you-section .thank-you-container .thank-you-message {
    margin: 2em;
    padding: 1em;
  }

  footer .footer-container .footer-details {
    padding: 5em;
  }
}

/*Large Laptop/ Desktop viewport styles */
@media only screen and (min-width: 1550px) {
  // top-nav styles

  .nav-container header {
    .logo {
      padding-left: 7.5em;
      .logo-placeholder {
        margin-left: 1.5em;
      }
      .logo-container {
        margin-left: 10px;
        .logo-title {
          font-size: 13px;
        }
      }
    }
    nav ul {
      position: relative;
      top: 0;
      left: -11px;
    }
  }

  // index-page

  // index hero
  .hero-container {
    .hero-text-content {
      padding: 8em 2em 0em 9em;
    }
  }

  .portfolio .portfolio-container .right .case-study-button,
  .featured .right button {
    width: 12vw;
  }

  .research-qoute {
    padding: 0 6em;
    padding-bottom: 6em;
  }

  .featured {
    padding: 3em 2em;
    &:before {
      left: 7em;
    }
    .left {
      margin: 0 7em;
      .inner .subtitle {
        text-align: left;
      }
    }
  }

  .skills {
    padding: 13em 8em;
    .skills-container ul {
      li {
        margin-bottom: 1em;
        .one {
          margin-top: 0;
        }
        .two {
          margin-top: 2em;
        }
      }
      p {
        font-size: 1em;
      }
    }
  }

  .portfolio {
    padding: 8em;
    .portfolio-container {
      margin: 0;
      .portfolio-left {
        .inner {
          .featured-title {
            font-size: 1.3rem;
          }
          .featured-desc {
            font-size: 1em;
          }
        }
      }
      .right img {
        height: 27vh;
        width: 20vw;
        margin-top: 1em;
      }
    }
  }

  .about {
    padding: 9em;
    .about-container ul {
      .business-model .business-model-icon {
        height: 100px;
        width: auto;
        display: grid;
        padding: 3em;
        place-content: center;
        img {
          width: 260px;
          height: auto;
        }
      }
      li {
        padding-top: 3em;
        .icon-container {
          .deliverables-title {
            padding: 1em;
          }
          .about-title {
            padding: 1em;
          }
        }
      }
    }
  }

  // contact page styles

  .contact-page-section {
    padding: 0em;
    .contact-container {
      margin: 4em;
    }
    .show-modal {
      width: 25vw;
      .close-modal .close-icon {
        position: relative;
        top: -34px;
        left: 186px;
      }
    }
  }

  section {
    padding: 1em 9em;
  }

  footer .footer-container {
    .footer-details {
      padding: 2em 13em;
      .footer-top-bar .logo {
        .logo-placeholder {
          margin-right: 16px;
          margin-left: -3.2em;
          .company-logo {
            display: flex;
            img {
              width: 40px;
            }
          }
        }
      }
      .logo-container {
        .logo-name {
          line-height: 23px;
          letter-spacing: 10pt;
        }
        .logo-title {
          font-size: 14px;
          letter-spacing: 4.1pt;
          font-variant-caps: inherit;
        }
      }
    }
  }
}

@media only screen and (min-width: 1900px) {
  .nav-container header .logo {
    padding-left: 13em;
  }

  // index
  .hero-container {
    height: 95vh;
    .hero-text-content {
      padding: 14em 6em 0em 14em;
    }
  }

  .research-qoute {
    padding: 1em 11em 4em 11em;
  }

  .featured {
    padding: 7em;
    &::before {
      left: 10em;
      top: 3em;
    }
    .right img {
      width: 50%;
    }
  }

  .skills,
  .portfolio {
    padding: 13em;
  }
  .about {
    padding: 14em;
  }

  .portfolio {
    padding: 15em;
    .portfolio-container {
      margin: 2em 0;
      grid-gap: 5em;
      .portfolio-left {
        margin: 0;
        .inner .subtitle {
          margin-top: 0;
        }
      }
      .right img {
        height: 27vh;
        width: 20vw;
        margin-top: 0;
      }
    }
  }

  .hero-container.remind-me-project {
    height: 92vh;
    .is-centered {
      justify-content: flex-start;
      align-items: center;
      .hero-text-content {
        padding: 14em;
        .hero-title-case-study {
          .hero-title {
            font-weight: 900;
          }
          .hero-subtitle {
            font-size: 32px;
            font-weight: 900;
            background-color: #f0f8ff33;
          }
        }
      }
    }
  }

  .hero-container.guitar-project .is-centered .hero-text-content {
    margin-left: 10em;
  }

  .contact-page-section {
    padding: 3em;
    .contact-container {
      margin: 0;
      .contact-form {
        width: 30vw;
        .contact-form-container .left {
          width: 30vw;
          .input-area .submit-button {
            width: 12vw;
          }
        }
      }
    }
    .show-modal {
      top: 38%;
      left: 36.5%;
      width: 25vw;
      height: auto;
      box-shadow: 0px 10px 13px -7px #000000, 25px 28px 50px 9px #c4c4c47a;
      justify-content: flex-start;
      align-items: flex-start;
      transition: 3s ease-in-out;
      ul {
        display: flex;
        flex-direction: row;
        grid-gap: 3em;
        li {
          padding: 2em;
        }
      }
      .close-modal .close-icon {
        position: relative;
        top: -37px;
        left: 460px;
      }
    }
  }

  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .first-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .second-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .third-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .text-field {
    width: 25vw;
    height: auto;
  }

  section {
    padding: 2em 14em;
  }
  footer .footer-container .footer-details {
    padding: 5em 18em;
  }
}
