@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@400;500&display=swap");
.bg-gradient-chill {
  background: linear-gradient(135deg, #94aaab 0%, #0291e3 100%);
}

.bg-gradient-warm {
  background: linear-gradient(135deg, #fff774 0%, #fd803f 100%);
}

.bg-gradient-hot {
  background: linear-gradient(135deg, #f9445a 0%, #fd803f 100%);
}

.bg-gradient-cold {
  background: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  padding: 0;
  margin: 0;
}

h1 {
  line-height: 27pt;
  color: #8c3921;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
  font-family: "Raleway", sans-serif;
}

h2 {
  line-height: 27pt;
  color: #8c3921;
  font-size: 1.7rem;
  font-weight: 500;
  font-variant-caps: all-petite-caps;
  letter-spacing: 0.3rem;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.7px;
}

a {
  text-decoration: none;
}

section {
  padding: 17px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.success {
  color: #006500;
  text-decoration: underline;
}

.failure {
  color: #ad0021;
  text-decoration: underline;
}

header nav #click {
  display: none;
}

.modal {
  display: none;
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  pointer-events: all;
  z-index: 2000;
  padding: 1em;
  -webkit-box-shadow: 11px 12px 9px -7px rgba(174, 174, 174, 0.39);
          box-shadow: 11px 12px 9px -7px rgba(174, 174, 174, 0.39);
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 310px;
  height: 322px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal.active .contact-modal-title {
  color: #8c3921;
  line-height: 26px;
  letter-spacing: 4pt;
  font-size: 1.5rem;
  font-weight: 500;
  font-variant-caps: all-petite-caps;
}

.modal.active .close-modal {
  position: relative;
  top: -21%;
  left: 92%;
}

.modal.active .close-modal .close-icon {
  cursor: pointer;
  position: absolute;
  width: 32px;
  height: auto;
}

.modal.active .close-modal .close-icon:hover {
  -webkit-filter: contrast(0);
          filter: contrast(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal.active ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal.active ul li {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.modal.active ul li .modal-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.modal.active ul li a {
  line-height: 10px;
}

.modal.active ul li a:hover {
  text-decoration: underline;
}

.modal.active ul li a span {
  font-weight: 300;
  color: #8c3921;
  text-decoration: underline;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin: 0px;
  font-size: 16px;
  line-height: 40px;
}

.modal.active ul li a span:hover {
  text-decoration: none;
}

.show-modal.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

#overlay.active {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-container {
  background: transparent;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #8c39212b;
}

.nav-container header {
  width: 100%;
  height: inherit;
  background-color: transparent;
}

.nav-container header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.nav-container header .logo .logo-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container header .logo .logo-placeholder .company-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container header .logo .logo-placeholder .company-logo img {
  width: 80px;
  height: auto;
  border: none;
}

.nav-container header .logo .logo-container {
  display: none;
}

.nav-container header nav ul {
  position: absolute;
  top: 65px;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #fff8bd;
  text-transform: uppercase;
  z-index: 1100;
}

.nav-container header nav ul li {
  width: 100%;
  margin: 25px 0;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-container header nav ul li a {
  color: #8c3921;
  width: 100%;
  margin-left: -100%;
}

.nav-container header nav ul li a:hover {
  background: 0 0;
  color: #0ff;
}

.nav-container header nav ul button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 165px;
  height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #8c3921;
  background-color: #fff;
  border: 1px solid #8c3921;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-container header nav ul button:hover {
  background: #d3cd94;
}

header #click:checked ~ ul {
  left: 0;
}

header #click:checked ~ ul li a {
  position: relative;
  top: 0;
  left: 50%;
}

.menu-btn svg {
  width: 35px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 20px;
}

.menu-btn svg path {
  fill: #8c3921;
}

.make-a-donation-section,
.hero-donation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  border: 1px solid #8c3921;
  border-radius: 2px;
  background: #fff;
}

.make-a-donation-section .primary-button,
.hero-donation .primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 100%;
  padding: 20px 100px;
  margin-top: 0;
  margin-bottom: 1em;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #8c3921;
  border: 1px solid #8c3921;
  border-radius: 5px;
  background: #fff8bd;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.make-a-donation-section .primary-button a,
.hero-donation .primary-button a {
  color: #8c3921;
}

.make-a-donation-section .primary-button a:hover,
.hero-donation .primary-button a:hover {
  text-decoration: underline;
}

.make-a-donation-section .primary-button:hover,
.hero-donation .primary-button:hover {
  background-color: #d3cd94;
}

.hero-container {
  background-image: url(/img/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 30vh;
}

.hero-container .hero-donation {
  display: none;
}

.hero-content-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.research-qoute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.research-qoute .qoute-text p {
  font-size: 22px;
}

.research-qoute .qoute-text .signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-style: normal;
  font-size: 22px;
}

.editorial-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editorial-card .card-grid_start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editorial-card .card-grid_start .inner .subtitle {
  text-transform: uppercase;
  font-weight: 700;
  color: #903564;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.editorial-card .card-grid_start .inner .editorial-title {
  line-height: 27pt;
  color: #8c3921;
  font-size: 1.7rem;
  font-weight: 500;
  font-variant-caps: all-petite-caps;
  letter-spacing: 0.3rem;
}

.editorial-card .card-grid_start .inner .editorial-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editorial-card .card-grid_start .inner .editorial-desc span.signature {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  font-style: italic;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.7px;
}

.editorial-card .card-grid_start .inner .editorial-desc_alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-wrap: normal;
  margin-bottom: 2em;
}

.editorial-card .card-grid_start .inner .editorial-desc_alt span.tertiary-link {
  color: #8c3921;
  font-weight: 600;
  display: contents;
}

.editorial-card .card-grid_start .inner .editorial-desc_alt span.tertiary-link:hover {
  text-decoration: underline;
}

.editorial-card .card-grid_start .inner .editorial-desc_alt span.signature {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  font-style: italic;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.7px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.editorial-card .card-grid_start .inner .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 2em;
  width: 92vw;
}

.editorial-card .card-grid_start .inner .gallery .thumbnail-item {
  border: 1px solid #8c3921;
  border-radius: 5px;
  background: #fff;
}

.editorial-card .card-grid_start .inner .gallery .thumbnail-item .thumbnail__desc {
  color: #8c3921;
  font-size: 22px;
  padding: 1em;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.editorial-card .card-grid_start .inner .gallery .thumbnail-item .thumbnail__editorial {
  color: #000;
  font-size: 16px;
  padding: 1em;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.editorial-card .card-grid_start .inner .gallery .thumbnail-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #8c3921;
  border-radius: 5px 5px 0 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.editorial-card .card-grid_start .inner .gallery .thumbnail-item img:hover {
  opacity: 0.5;
}

.editorial-card .card-grid_start .inner .gallery .thumbnail-item:hover {
  text-decoration: underline;
}

.events-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 500;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.events-lightbox .events-lightbox__content {
  position: relative;
  width: 90%;
  background: black;
  border-radius: 5px;
  padding: 1em;
}

.events-lightbox .events-lightbox__content .events-lightbox__title {
  font-weight: 500;
}

.events-lightbox .events-lightbox__content .close {
  position: absolute;
  width: 2em;
  height: 2em;
  background: #fff;
  top: -1em;
  right: -1em;
  border-radius: 50%;
}

.events-lightbox .events-lightbox__content .close .close-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.events-lightbox .events-lightbox__content img {
  margin: 0 auto;
}

.events-lightbox:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-page-section {
  margin-bottom: 30px;
}

.contact-page-section .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-page-section .contact-container .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #8c3921;
  border-radius: 5px;
}

.contact-page-section .contact-container .contact-form .form-title {
  margin-left: 0.5rem;
}

.contact-page-section .contact-container .contact-form .contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #8c3921;
  border-radius: 0;
  background-color: #fff8bd30;
}

.contact-page-section .contact-container .contact-form .contact-form-container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.5em;
  border-radius: 5px;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area {
  padding: 0.5em;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area .submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #8c3921;
  font-family: "Poppins";
  font-size: 16px;
  background-color: #46db4633;
  cursor: pointer;
  width: 100%;
  height: 36px;
  margin-bottom: 2em;
  border-radius: 5px;
  border: 1px solid #8c3921;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 11px 12px 9px -7px rgba(174, 174, 174, 0.39);
          box-shadow: 11px 12px 9px -7px rgba(174, 174, 174, 0.39);
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area .submit-button:hover {
  background: #d3cd94;
  color: #8c3921;
  border-color: #8c3921;
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-page-section .contact-container .contact-form .contact-form-container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-page-section .contact-container .contact-form .contact-form-container .right .contact-form__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-top: 1px solid #8c3921;
  border-radius: 0;
  width: 100%;
}

.contact-page-section .contact-container .contact-form .contact-form-container .right .contact-form__logo-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  padding: 2em;
  background: #f1e7e4;
}

.contact-page-section .contact-container .contact-form .contact-form-container .right .contact-form__logo-container .logo-container img {
  border: none;
  width: 350px;
  height: auto;
}

.contact-page-section .contact-container .contact-form .contact-form-container .right .contact-form__logo-container .logo-container .logo-title {
  font-size: 18px;
  line-height: 0;
  letter-spacing: 1.1pt;
  text-transform: uppercase;
  color: #8c3921;
}

.contact-page-section .contact-container .contact-form .contact-form-container .right .contact-form__logo-container .logo-container .logo-subtitle {
  font-size: 12px;
  line-height: 40px;
  color: #8c3921;
}

.contact-page-section
.contact-container
.contact-form
.contact-form-container
.input-area
label
.text-field::-webkit-input-placeholder {
  color: #3d3d3d81;
  font-size: 16px;
  height: 500px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section
.contact-container
.contact-form
.contact-form-container
.input-area
label
.text-field:-ms-input-placeholder {
  color: #3d3d3d81;
  font-size: 16px;
  height: 500px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section
.contact-container
.contact-form
.contact-form-container
.input-area
label
.text-field::-ms-input-placeholder {
  color: #3d3d3d81;
  font-size: 16px;
  height: 500px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section
.contact-container
.contact-form
.contact-form-container
.input-area
label
.text-field::placeholder {
  color: #3d3d3d81;
  font-size: 16px;
  height: 500px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .first-child,
.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .second-child,
.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .third-child {
  cursor: pointer;
  width: 80vw;
  padding: 5px;
  border: 1px solid #000100;
  border-radius: 3px;
  font-size: 16px;
  color: #3d3d3d;
}

.contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .text-field {
  width: 80vw;
  padding: 5px;
  height: 14vh;
  overflow: hidden;
  font-family: "Poppins";
  font-size: 18px;
  color: #3d3d3d;
  border: 1px solid #000100;
  border-radius: 3px;
  cursor: pointer;
}

.thank-you-section {
  padding: 10px;
  background: url(img/come-together-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.thank-you-section .thank-you-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: thank-you-animation 3s;
          animation: thank-you-animation 3s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thank-you-section .thank-you-container .thank-you-message {
  border: 1px solid #8c3921;
  border-radius: 8px;
  background-color: #fff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 280px;
  width: 100%;
}

.thank-you-section .thank-you-container .thank-you-message h1 {
  line-height: 27pt;
  color: #8c3921;
  font-size: 1.7rem;
  font-weight: 500;
  font-variant-caps: all-petite-caps;
  letter-spacing: 5px;
  text-align: center;
}

.thank-you-section .thank-you-container .thank-you-message p span {
  color: #030d8b;
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
}

.thank-you-section .thank-you-container .thank-you-message button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff8bd;
  border: 1px solid #8c3921;
  border-radius: 5px;
  margin: 1em;
  width: 100%;
  height: 30px;
  -webkit-box-shadow: 11px 12px 9px -7px rgba(174, 174, 174, 0.39);
          box-shadow: 11px 12px 9px -7px rgba(174, 174, 174, 0.39);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.thank-you-section .thank-you-container .thank-you-message button a {
  color: #8c3921;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
}

.thank-you-section .thank-you-container .thank-you-message button:hover {
  background: #d3cd94;
}

@-webkit-keyframes thank-you-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes thank-you-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  border-top: 1px solid #8c3921;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container .footer-details {
  background: #fff8bd;
  color: #8c3921;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1em;
}

footer .footer-container .footer-details .footer-top-bar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-container .footer-details .footer-top-bar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

footer .footer-container .footer-details .footer-top-bar .logo .logo-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: auto;
  margin-right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container .footer-details .footer-top-bar .logo .logo-placeholder .company-logo img {
  border: none;
}

footer .footer-container .footer-details .footer-top-bar .logo .logo-title {
  font-size: 22px;
  color: #8c3921;
  font-variant-caps: all-petite-caps;
  line-height: 2;
}

footer .footer-container .footer-details .footer-top-bar .logo .logo-subtitle {
  display: none;
}

footer .footer-container .footer-details .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 20px;
}

footer .footer-container .footer-details .logo-container a {
  color: #8c3921;
  margin-top: 20px;
}

footer .footer-container .footer-details .logo-container .mailto-link {
  text-decoration: underline;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer .footer-container .footer-details .logo-container .mailto-link:hover {
  text-decoration: none;
  font-weight: 500;
}

.footer-container .footer-social-icon,
.footer-container small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #8c3921;
  border-bottom: 1px solid gainsboro;
}

.footer-container .footer-social-icon a,
.footer-container small a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.footer-container .footer-social-icon a img,
.footer-container small a img {
  border: none;
}

@media only screen and (min-width: 375px) {
  .show-modal {
    left: 5%;
  }
  .thank-you-section .thank-you-container .thank-you-message {
    max-width: 365px;
    width: 100%;
  }
}

@media only screen and (min-width: 425px) {
  section {
    padding: 1em;
  }
  .show-modal {
    left: 4%;
    max-width: 84%;
  }
  .events-lightbox .events-lightbox__content {
    max-width: 390px;
    width: 100%;
  }
  .thank-you-section .thank-you-container .thank-you-message {
    max-width: 415px;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-title {
    letter-spacing: 5pt;
    margin-top: 0.5em;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 17px;
    color: #8c3921;
    font-variant-caps: all-petite-caps;
    letter-spacing: 0.63pt;
  }
}

@media only screen and (min-width: 610px) {
  .menu-btn svg {
    right: 22px;
  }
  .make-a-donation-section,
  .research-qoute,
  .editorial-card {
    padding: 1.6em;
  }
  .events-lightbox .events-lightbox__content {
    max-width: 480px;
  }
  /*contact form styles*/
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area label .first-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area label .second-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area label .third-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .text-field,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area .submit-button {
    width: 54vw;
  }
}

@media only screen and (min-width: 895px) {
  .hero-container {
    height: 100vh;
  }
  .make-a-donation-section .primary-button {
    width: 330px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .editorial-card .card-grid_start img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    width: 60%;
  }
  .editorial-card .card-grid_start .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .editorial-card .card-grid_start .inner .editorial-desc_alt {
    margin-right: 4em;
  }
  .editorial-card .card-grid_start .inner img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    width: 60%;
  }
  .menu-btn svg {
    right: 2em;
  }
  .research-qoute,
  .editorial-card,
  .editorial-card > .card-grid-start {
    padding: 2.5em;
  }
  .editorial-card .card-grid_start .inner .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 1em;
  }
  .events-lightbox .events-lightbox__content {
    max-width: 450px;
  }
  .events-lightbox .events-lightbox__content .item {
    width: 700px;
  }
  .events-lightbox .events-lightbox__content img {
    margin: 0;
  }
  .show-modal {
    top: 34%;
    left: 29.5%;
    width: 38vw;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .first-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .second-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .third-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .text-field {
    padding: 9px 8px;
    width: 36vw;
    height: auto;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container {
    border-top: 1px solid #8c3921;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left .w100 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left .w100 .submit-button {
    width: 20vw;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  .thank-you-section {
    padding: 0.5em;
  }
  .thank-you-section .thank-you-container .thank-you-message button {
    width: 40%;
    margin-bottom: 1.5em;
  }
  section {
    padding: 1em 2.5em;
  }
  footer .footer-container .footer-details {
    padding: 2.2em;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-name {
    letter-spacing: 5.2pt;
    font-size: 1.8rem;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-title {
    font-size: 1.2rem;
    letter-spacing: 2pt;
  }
}

@media only screen and (min-width: 1050px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .nav-container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
  }
  .nav-container header .logo {
    padding-left: 2.5em;
  }
  .nav-container header .logo .logo-placeholder {
    padding: 0;
  }
  .nav-container header .logo .logo-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
  }
  .nav-container header .logo .logo-container .logo-name {
    line-height: 20px;
    font-variant-caps: all-petite-caps;
  }
  .nav-container header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 4em;
    max-height: 60px;
    height: 100%;
  }
  .nav-container header nav ul {
    position: revert;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: transparent;
    height: 60px;
  }
  .nav-container header nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 14px;
  }
  .nav-container header nav ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 145px;
    padding: 0 10px;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  .nav-container header nav ul li a:hover {
    color: #ad0021;
  }
  .nav-container header nav ul li .primary-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 150px;
    background-color: #fff8bd;
  }
  .nav-container header nav ul li .primary-button a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 145px;
    padding: 0 10px;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  .nav-container header nav ul li .primary-button a:hover {
    color: #ad0021;
  }
  .menu-btn svg {
    display: none;
  }
  .research-qoute {
    margin: 0 3em;
    padding-bottom: 2.5em;
  }
  .make-a-donation-section .container {
    padding: 0.9em;
  }
  .events-lightbox .events-lightbox__content {
    max-width: 504px;
    height: 765px;
  }
  .events-lightbox .events-lightbox__content .item {
    width: 790px;
  }
  .contact-page-section {
    padding: 4em;
  }
  .contact-page-section .show-modal {
    top: 40%;
    left: 30%;
    width: 39vw;
    height: auto;
  }
  .contact-page-section .contact-container .contact-form .form-title {
    margin-left: 3em;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff8bd30;
    width: 50%;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left form {
    padding-top: 1em;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area .submit-button {
    background-color: #46db4633;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area .submit-button:hover {
    background-color: whitesmoke;
  }
  .contact-page-section .contact-container .contact-form .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
  }
  .contact-page-section .contact-container .contact-form .right .contact-form__logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-left: 1px solid #8c3921 !important;
    border-bottom: none !important;
    border-right: none !important;
    border-top: none !important;
    border-radius: 0;
    width: 100%;
  }
  .contact-page-section .contact-container .contact-form .right .contact-form__logo-container .logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5px;
    padding: 5em !important;
    background: #f1e7e4;
  }
  .contact-page-section .contact-container .contact-form .right .contact-form__logo-container .logo-container img {
    border: none;
    width: 400px;
    height: auto;
  }
  .contact-page-section .contact-container .contact-form .right .contact-form__logo-container .logo-container .logo-title {
    font-size: 25px;
    line-height: 0;
    letter-spacing: 1.1pt;
    text-transform: uppercase;
    color: #8c3921;
  }
  .contact-page-section .contact-container .contact-form .right .contact-form__logo-container .logo-container .logo-subtitle {
    font-size: 16px;
    line-height: 50px;
    color: #8c3921;
  }
  .thank-you-section {
    padding: 0.5em;
  }
  footer .footer-container .footer-details {
    padding: 4em;
  }
  .footer-social-icon a:hover {
    opacity: 0.5;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

@media only screen and (min-width: 1250px) {
  .modal.active {
    width: 390px;
    height: auto;
  }
  .modal.active .close-modal {
    position: relative;
    top: -35px;
    left: 93%;
  }
  .nav-container header .logo {
    padding-left: 7.5em;
  }
  .nav-container header nav ul {
    margin-right: 4em;
  }
  .make-a-donation-section {
    display: none;
  }
  .hero-container {
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover;
  }
  .hero-container .hero-donation {
    display: -ms-grid;
    display: grid;
    margin-left: 4em;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 11px 12px 9px -7px rgba(174, 174, 174, 0.39);
            box-shadow: 11px 12px 9px -7px rgba(174, 174, 174, 0.39);
  }
  .hero-container .hero-donation .container .primary-button {
    -webkit-box-shadow: 11px 12px 9px -7px rgba(174, 174, 174, 0.39);
            box-shadow: 11px 12px 9px -7px rgba(174, 174, 174, 0.39);
  }
  .research-qoute {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .editorial-card {
    padding: 0 6.5em;
  }
  .editorial-card .card-grid_start .inner .sm-image {
    width: 40%;
  }
  .editorial-card .card-grid_start .inner .gallery {
    grid-gap: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 91%;
  }
  .editorial-card .card-grid_start .inner .gallery .thumbnail-item {
    border: 1px solid #8c3921;
    border-radius: 5px;
    background: #fff;
    width: calc(910px / 3);
  }
  .editorial-card .card-grid_start .inner .gallery .thumbnail-item img {
    padding: 5px;
  }
  .thank-you-section .thank-you-container .thank-you-message {
    margin: 2em;
    padding: 1em;
  }
  footer .footer-container .footer-details {
    padding: 1em 6.5em;
  }
}

/*Large Laptop/ Desktop viewport styles */
@media only screen and (min-width: 1550px) {
  .nav-container header .logo {
    padding-left: 11.5em;
  }
  .nav-container header .logo .logo-placeholder {
    margin-left: 1.5em;
  }
  .nav-container header .logo .logo-container {
    margin-left: 10px;
  }
  .nav-container header .logo .logo-container .logo-title {
    font-size: 13px;
  }
  .nav-container header nav ul {
    margin-right: 10em;
  }
  .hero-container .hero-donation {
    margin-left: 10em;
  }
  .editorial-card {
    margin: 0 12.5em;
    padding: 0;
  }
  .editorial-card .card-grid_start .inner .gallery {
    max-width: 70%;
  }
  .events-lightbox .events-lightbox__content {
    width: 35%;
    height: 96%;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .first-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .second-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .third-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .text-field {
    width: 26vw;
    height: auto;
  }
  footer .footer-container .footer-details {
    padding: 2em 13em;
  }
  footer .footer-container .footer-details .footer-top-bar {
    margin-left: 2em;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-placeholder {
    margin-right: 12px;
    margin-left: -31px;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-placeholder .company-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-placeholder .company-logo img {
    width: 90px;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-title {
    letter-spacing: 9pt;
    line-height: 14px;
    padding-top: 5px;
    font-size: 21px;
  }
  footer .footer-container .footer-details .footer-top-bar .logo .logo-container .logo-subtitle {
    font-size: 18px;
    letter-spacing: 2pt;
    font-variant-caps: all-petite-caps;
  }
}

@media only screen and (min-width: 1879px) {
  .nav-container header .logo {
    padding-left: 19em;
  }
  .nav-container header nav ul {
    margin-right: 17em;
    padding-right: 5em;
  }
  .hero-container .hero-donation {
    margin-left: 7em;
  }
  .editorial-card .card-grid_start .inner img {
    width: 60%;
  }
  .events-lightbox .events-lightbox__content {
    width: 28%;
    height: 96%;
  }
  .show-modal {
    top: 38%;
    left: 36.5%;
    width: 25vw;
    height: auto;
    -webkit-box-shadow: 11px 12px 9px -7px rgba(174, 174, 174, 0.39);
            box-shadow: 11px 12px 9px -7px rgba(174, 174, 174, 0.39);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
  }
  .show-modal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    grid-gap: 3em;
  }
  .show-modal ul li {
    padding: 2em;
  }
  .show-modal .close-modal .close-icon {
    position: relative;
    top: -37px;
    left: 460px;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .first-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .second-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .third-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .text-field {
    width: 22vw;
    height: auto;
    margin: 8px 40px;
  }
  .contact-page-section .contact-container .contact-form .form-title {
    margin-left: 3em;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff8bd30;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left form {
    padding-top: 1em;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area .submit-button {
    background-color: #46db4633;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area .submit-button:hover {
    background-color: whitesmoke;
  }
  .contact-page-section .contact-container .contact-form .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .contact-page-section .contact-container .contact-form .right .contact-form__logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-left: 1px solid #8c3921;
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    width: 100%;
  }
  .contact-page-section .contact-container .contact-form .right .contact-form__logo-container .logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5px;
    padding: 5em;
    background: #f1e7e4;
  }
  .contact-page-section .contact-container .contact-form .right .contact-form__logo-container .logo-container img {
    border: none;
    width: 400px;
    height: auto;
  }
  .contact-page-section .contact-container .contact-form .right .contact-form__logo-container .logo-container .logo-title {
    font-size: 28px;
    line-height: 0;
    letter-spacing: 1.1pt;
    text-transform: uppercase;
    color: #8c3921;
  }
  .contact-page-section .contact-container .contact-form .right .contact-form__logo-container .logo-container .logo-subtitle {
    font-size: 18px;
    line-height: 50px;
    color: #8c3921;
  }
  section {
    padding: 2em 14em;
  }
  footer .footer-container .footer-details {
    padding: 5em 18em;
  }
}
/*# sourceMappingURL=style.css.map */