@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@400;500&display=swap");
// color variables
$core-neutral: #fff;
$core-dark: #8c3921;
$core-light: #fff8bd;
$core-light_hover-state: #d3cd94;
$core-disabled: lightgrey;
$brand-color: $core-light;
$tertiary: #213550;
$success: #006500;
$fail: #ad0021;

// buttons
$primary-background: $core-neutral;
$primary-core: $core-dark;
$secondary-core: $core-light;
$tertiary-core: $tertiary;
$core-button-border: $primary-core;
$button-border-settings: 1px solid $primary-core;
$button-hover-state: all 0.5s ease-in-out;
$image-border-settings: 1px solid gainsboro;
$box-shadow-standard: 11px 12px 9px -7px rgba(174, 174, 174, 0.39);
//
// Gradient system
//
$gradients: () !default;
$gradients: map-merge(
  (
    chill: linear-gradient(135deg, #94aaab 0%, #0291e3 100%),
    warm: linear-gradient(135deg, #fff774 0%, #fd803f 100%),
    hot: linear-gradient(135deg, #f9445a 0%, #fd803f 100%),
    cold: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%),
  ),
  $gradients
);

// Gradient backgrounds
@mixin bg-gradient($parent, $gradient) {
  #{$parent} {
    background: $gradient;
  }
}
// gradient class
@each $gradient, $value in $gradients {
  @include bg-gradient(".bg-gradient-#{$gradient}", $value);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  padding: 0;
  margin: 0;
}

h1 {
  line-height: 27pt;
  color: $core-dark;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
  font-family: "Raleway", sans-serif;
}

h2 {
  line-height: 27pt;
  color: $core-dark;
  font-size: 1.7rem;
  font-weight: 500;
  font-variant-caps: all-petite-caps;
  letter-spacing: 0.3rem;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.7px;
}

a {
  text-decoration: none;
}

section {
  padding: 17px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: $image-border-settings;
  border-radius: 5px;
}

.success {
  color: $success;
  text-decoration: underline;
}
.failure {
  color: $fail;
  text-decoration: underline;
}

header nav #click {
  display: none;
}

.modal {
  display: none;
}

.modal.active {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  pointer-events: all;
  z-index: 2000;
  padding: 15px;
  box-shadow: $box-shadow-standard;
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
  top: 30%;
  left: 4%;
  width: 310px;
  height: 280px;
  transition: all 0.5s ease-in-out;
  .contact-modal-title {
    color: $core-dark;
    line-height: 26px;
    letter-spacing: 4pt;
    font-size: 1.5rem;
    font-weight: 500;
    font-variant-caps: all-petite-caps;
  }

  .close-modal {
    position: relative;
    top: -13%;
    left: 94%;
    .close-icon {
      cursor: pointer;
      position: absolute;
      width: 32px;
      height: auto;
      &:hover {
        filter: contrast(0);
        transition: all 0.5s ease-in-out;
      }
    }
  }
  ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    li {
      padding: 10px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .modal-icon {
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }
      a {
        line-height: 10px;
        &:hover {
          text-decoration: underline;
        }
        span {
          font-weight: 300;
          color: $core-dark;
          text-decoration: underline;
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          margin: 0px;
          font-size: 16px;
          line-height: 40px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.show-modal.active {
  visibility: visible;
  opacity: 1;
  transition: 1.5s;
}

#overlay.active {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

.nav-container {
  background: $brand-color;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #8c39212b;
  header {
    width: 100%;
    height: inherit;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .logo-placeholder {
        display: flex;
        .company-logo {
          display: flex;
          img {
            width: 80px;
            height: auto;
            border: none;
          }
        }
      }
      .logo-container {
        display: none;
      }
    }
  }
}

.nav-container header nav ul {
  position: absolute;
  top: 65px;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: $button-hover-state;
  background: $secondary-core;
  text-transform: uppercase;
  z-index: 1100;
  li {
    width: 100%;
    margin: 25px 0;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    a {
      color: $core-dark;
      width: 100%;
      margin-left: -100%;
      &:hover {
        background: 0 0;
        color: #0ff;
      }
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: $core-dark;
    background-color: $core-neutral;
    border: $button-border-settings;
    border-radius: 5px;
    transition: $button-hover-state;
    &:hover {
      background: $core-light_hover-state;
    }
  }
}

header #click:checked ~ ul {
  left: 0;
}

header #click:checked ~ ul li a {
  position: relative;
  top: 0;
  left: 50%;
}

.menu-btn {
  svg {
    width: 35px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 20px;
    path {
      fill: $core-dark;
    }
  }
}

.make-a-donation-section,
.hero-donation {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid $core-dark;
  border-radius: 2px;
  background: $core-neutral;
  .primary-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    padding: 20px 100px;
    margin-top: 0;
    margin-bottom: 1em;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $core-dark;
    border: $button-border-settings;
    border-radius: 5px;
    background: $core-light;
    transition: all 1s ease-in-out;
    a {
      color: $core-dark;
      &:hover {
        text-decoration: underline;
      }
    }
    &:hover {
      background-color: $core-light_hover-state;
    }
  }
}

.hero-container {
  background-image: url(/img/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 30vh;
  filter: hue-rotate(338deg);
  .hero-donation {
    display: none;
  }
}

.hero-content-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.research-qoute {
  display: flex;
  .qoute-text {
    display: flex;
    flex-direction: column;
    font-style: italic;
    .signature {
      display: flex;
      justify-content: flex-end;
      font-style: normal;
    }
  }
}

.editorial-card {
  display: flex;
  .card-grid_start {
    display: flex;
    flex-direction: column;
    .inner {
      .subtitle {
        text-transform: uppercase;
        font-weight: 700;
        color: #903564;
        letter-spacing: 0.2em;
        font-size: 0.85em;
      }
      .editorial-title {
        line-height: 27pt;
        color: $primary-core;
        font-size: 1.7rem;
        font-weight: 500;
        font-variant-caps: all-petite-caps;
        letter-spacing: 0.3rem;
      }
      .multi-editorial-banners {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .item {
          margin-bottom: 2%;
          max-height: 400px;
          max-width: 280px;
          height: 100%;
          width: auto;
        }
        img {
          border: none;
          border-radius: 5px;
        }
      }
      .editorial-desc {
        display: flex;
        flex-direction: column;
        span.signature {
          justify-content: flex-end;
          text-align: right;
          font-style: italic;
          font-family: "Raleway", sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 30px;
          letter-spacing: 1.7px;
        }
      }
      .editorial-desc_alt {
        display: flex;
        flex-direction: column;
        word-wrap: normal;
        margin-bottom: 2em;
        span.tertiary-link {
          color: $core-dark;
          font-weight: 600;
          max-width: calc(6 * 18px);
          width: 100%;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
        span.signature {
          justify-content: flex-end;
          text-align: right;
          font-style: italic;
          font-family: "Raleway", sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 30px;
          letter-spacing: 1.7px;
        }
      }
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.editorial-card .card-grid_start .inner .gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 2em;
  // background: #ccc;
  .thumbnail-item {
    border: $button-border-settings;
    border-radius: 5px;
    background: $core-neutral;
    .thumbnail__desc {
      color: $primary-core;
      font-size: 22px;
      padding: 1em;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    .thumbnail__editorial {
      color: #000;
      font-size: 16px;
      padding: 1em;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    img {
      width: 100%;
      height: auto;
      border-bottom: $button-border-settings;
      border-radius: 5px 5px 0 0;
      transition: all 0.5s ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
// light box styles
.events-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  color: $core-neutral;
  font-weight: 500;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .events-lightbox__content {
    position: relative;
    width: 90%;
    background: black;
    border-radius: 5px;
    padding: 1em;
    .events-lightbox__title {
      font-weight: 500;
    }
    .close {
      position: absolute;
      width: 2em;
      height: 2em;
      background: $core-neutral;
      top: -1em;
      right: -1em;
      border-radius: 50%;
      .close-icon {
        display: flex;
        align-self: center;
        justify-self: center;
      }
    }
    img {
      margin: 0 auto;
    }
  }
}

.events-lightbox:target {
  display: flex;
}

// contact form styles
.contact-page-section {
  margin-bottom: 30px;
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contact-form {
      display: flex;
      flex-direction: column;
      border: $button-border-settings;
      border-radius: 5px;
      .form-title {
        margin-left: 0.5rem;
      }
      .contact-form-container {
        border-top: $button-border-settings;
        border-radius: 0;
        .left {
          background: #b5d9545c;
          padding-top: 0.5em;
          border-radius: 5px;
        }
        .input-area {
          padding: 0.5em;
          .submit-button {
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $core-dark;
            font-family: "Poppins";
            font-size: 16px;
            background-color: $brand-color;
            cursor: pointer;
            width: 100%;
            height: 36px;
            margin-bottom: 2em;
            border-radius: 5px;
            border: $button-border-settings;
            transition: all 0.5s ease-in-out;
            box-shadow: $box-shadow-standard;
            &:hover {
              background: $core-light_hover-state;
              color: $core-dark;
              border-color: $core-dark;
            }
          }
          span {
            display: flex;
          }
        }
      }
    }
  }
}

.contact-page-section
  .contact-container
  .contact-form
  .contact-form-container
  .input-area
  label
  .text-field::placeholder {
  color: #3d3d3d;
  font-size: 16px;
  height: 500px;
  font-weight: 300;
  font-family: "Poppins";
}

.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .first-child,
.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .second-child,
.contact-page-section .contact-container .contact-form .contact-form-container .input-area label .third-child {
  cursor: pointer;
  width: 80vw;
  padding: 5px;
  border: 1px solid #000100;
  border-radius: 3px;
  font-size: 16px;
  color: #3d3d3d;
}

.contact-page-section .contact-container .contact-form .contact-form-container {
  .left {
    .input-area label .text-field {
      width: 80vw;
      padding: 5px;
      height: 14vh;
      overflow: hidden;
      font-family: "Poppins";
      font-size: 18px;
      color: #3d3d3d;
      border: 1px solid #000100;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

// thank you page styles
.thank-you-section {
  padding: 10px;
  background: url(img/come-together-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  .thank-you-container {
    display: flex;
    animation: thank-you-animation 3s;
    justify-content: center;
    .thank-you-message {
      border: 1px solid $core-dark;
      border-radius: 8px;
      background-color: $core-neutral;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 280px;
      width: 100%;
      h1 {
        line-height: 27pt;
        color: $core-dark;
        font-size: 1.7rem;
        font-weight: 500;
        font-variant-caps: all-petite-caps;
        letter-spacing: 5px;
        text-align: center;
      }
      p span {
        color: #030d8b;
        font-style: italic;
        font-size: 14px;
        font-weight: 500;
      }
      button {
        a {
          color: $core-dark;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 17px;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $core-light;
        border: 1px solid $core-dark;
        border-radius: 5px;
        margin: 1em;
        width: 100%;
        height: 30px;
        box-shadow: $box-shadow-standard;
        transition: $button-hover-state;
        &:hover {
          background: $core-light_hover-state;
        }
      }
    }
  }
}

@keyframes thank-you-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Global Footer styles

footer {
  border-top: $button-border-settings;
  .footer-container {
    display: flex;
    flex-direction: column;
    .footer-details {
      background: $secondary-core;
      color: $core-dark;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1em;
      .footer-top-bar {
        flex-direction: row;
        .logo {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-top: 30px;
          .logo-placeholder {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: auto;
            margin-right: 20px;
            flex-direction: column;
            .company-logo img {
              border: none;
            }
          }
          .logo-title {
            font-size: 22px;
            color: $core-dark;
            font-variant-caps: all-petite-caps;
            line-height: 2;
          }
          .logo-subtitle {
            display: none;
          }
        }
      }
      .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-bottom: 20px;
        a {
          color: $core-dark;
          margin-top: 20px;
        }
        .mailto-link {
          text-decoration: underline;
          transition: $button-hover-state;
          &:hover {
            text-decoration: none;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.footer-container .footer-social-icon,
.footer-container small {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $core-dark;
  border-bottom: 1px solid gainsboro;
  a {
    display: flex;
    padding: 1rem;
    img {
      border: none;
    }
  }
}

// Medium mobile Phone Viewport styles
@media only screen and (min-width: 375px) {
  .show-modal {
    left: 5%;
  }

  .thank-you-section .thank-you-container .thank-you-message {
    max-width: 365px;
    width: 100%;
  }
}

// Large mobile Phone Viewport styles
@media only screen and (min-width: 425px) {
  section {
    padding: 1em;
  }

  .show-modal {
    left: 4%;
    max-width: 84%;
  }

  .events-lightbox .events-lightbox__content {
    width: 93%;
  }

  .thank-you-section .thank-you-container .thank-you-message {
    max-width: 415px;
  }

  footer .footer-container .footer-details .footer-top-bar .logo {
    .logo-title {
      letter-spacing: 5pt;
      margin-top: 0.5em;
    }
    .logo-subtitle {
      display: flex;
      font-size: 17px;
      color: $core-dark;
      font-variant-caps: all-petite-caps;
      letter-spacing: 0.63pt;
    }
  }
}
// tablets to small laptops
@media only screen and (min-width: 610px) {
  .menu-btn svg {
    right: 22px;
  }

  .make-a-donation-section,
  .research-qoute,
  .editorial-card {
    padding: 1.6em;
  }

  .editorial-card .card-grid_start .inner .gallery {
    max-width: 460px;
    width: 100%;
  }

  .events-lightbox .events-lightbox__content .item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*contact form styles*/

  .contact-page-section .contact-container .contact-form .contact-form-container .input-area label .first-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area label .second-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .input-area label .third-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .text-field,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area .submit-button {
    width: 54vw;
  }
}

// Styles for tablets and small laptops
@media only screen and (min-width: 895px) {
  .hero-container {
    height: 70vh;
  }

  .make-a-donation-section .primary-button {
    width: 330px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .editorial-card .card-grid_start {
    img {
      display: flex;
      align-self: center;
      width: 60%;
    }
    .inner {
      display: flex;
      flex-direction: column;
      .editorial-desc_alt {
        margin-right: 4em;
      }
      img {
        display: flex;
        align-self: center;
        width: 60%;
      }
    }
  }
  .menu-btn svg {
    right: 2em;
  }

  // padding for page sections
  .research-qoute,
  .editorial-card,
  .editorial-card > .card-grid-start {
    padding: 2.5em;
  }

  .editorial-card .card-grid_start .inner .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    max-width: 730px;
    width: 100%;
    margin: 2em;
    .thumbnail-item {
      border: $button-border-settings;
      border-radius: 5px;
      background: $core-neutral;
      .thumbnail__desc {
        color: $primary-core;
        font-size: 22px;
        padding: 1em;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
      .thumbnail__editorial {
        color: #000;
        font-size: 16px;
        padding: 1em;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
      img {
        width: 100%;
        height: auto;
        border-bottom: $button-border-settings;
        border-radius: 5px 5px 0 0;
        transition: all 0.5s ease-in-out;
        &:hover {
          opacity: 0.5;
        }
      }
      &:hover {
        text-decoration: underline;
        color: $core-dark;
      }
      &:hover {
        filter: brightness(69%);
      }
    }
  }
  // light box styles
  .events-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    color: $core-neutral;
    font-weight: 500;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .events-lightbox__content {
      position: relative;
      width: 75%;
      height: 95%;
      background: black;
      padding: 2em;
      .events-lightbox__title {
        font-weight: 500;
      }
      .close {
        position: absolute;
        width: 2em;
        height: 2em;
        background: $core-neutral;
        top: -1em;
        right: -1em;
        border-radius: 50%;
        .close-icon {
          display: flex;
          align-self: center;
          justify-self: center;
        }
      }
      .item {
        img {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }

  .events-lightbox:target {
    display: flex;
  }

  // contact section styles
  .show-modal {
    top: 34%;
    left: 29.5%;
    width: 38vw;
  }

  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .first-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .second-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .third-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .text-field {
    padding: 9px 8px;
    width: 36vw;
    height: auto;
  }

  .contact-page-section .contact-container .contact-form .contact-form-container {
    border-top: 1px solid $core-dark;
    .left .w100 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .submit-button {
        width: 20vw;
        margin-top: 2em;
        margin-bottom: 1em;
      }
    }
  }

  // Thank you styles

  .thank-you-section {
    padding: 0.5em;
    .thank-you-container .thank-you-message button {
      width: 40%;
      margin-bottom: 1.5em;
    }
  }

  section {
    padding: 1em 2.5em;
  }

  footer .footer-container .footer-details {
    padding: 2.2em;
    .footer-top-bar .logo .logo-container {
      .logo-name {
        letter-spacing: 5.2pt;
        font-size: 1.8rem;
      }
      .logo-title {
        font-size: 1.2rem;
        letter-spacing: 2pt;
      }
    }
  }
}

//Styles for Laptops
@media only screen and (min-width: 1050px) {
  .nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: $secondary-core;
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      background: $brand-color;
      .logo {
        padding-left: 2.5em;
        .logo-placeholder {
          padding: 0;
        }
        .logo-container {
          flex-direction: column;
          margin-left: 20px;
          .logo-name {
            line-height: 20px;
            font-variant-caps: all-petite-caps;
          }
        }
      }
      nav {
        max-height: 60px;
        height: 100%;
        ul {
          position: revert;
          flex-direction: row;
          background: transparent;
          height: 60px;
          li {
            font-size: 14px;
            align-items: self-end;
            justify-content: space-evenly;
            a {
              width: 145px;
              padding: 0 10px;
              transition: 1s all;
              &:hover {
                color: #ad0021;
              }
            }
            .primary-button {
              display: none;
            }
          }
        }
      }
    }
  }

  .menu-btn svg {
    display: none;
  }

  .research-qoute {
    margin: 0 3em;
    padding-bottom: 2.5em;
  }

  .make-a-donation-section .container {
    padding: 0.9em;
  }

  .editorial-card .card-grid_start .inner img {
    max-width: 465px;
    max-height: 465px;
  }
  // contact section styles
  .contact-page-section {
    padding: 4em;
    .show-modal {
      top: 40%;
      left: 30%;
      width: 39vw;
      height: auto;
    }
  }

  // thank you page styles
  .thank-you-section {
    padding: 0.5em;
  }

  footer .footer-container .footer-details {
    padding: 4em;
  }
  .footer-social-icon a:hover {
    opacity: 0.5;
    transition: $button-hover-state;
  }
}

@media only screen and (min-width: 1250px) {
  .nav-container header {
    .logo {
      padding-left: 7.5em;
    }
    nav ul {
      margin-right: 4em;
    }
  }
  .make-a-donation-section {
    display: none;
  }
  // index hero
  .hero-container {
    
    width: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: start;
    align-items: center;
    background-size: cover;
    .hero-donation {
      display: grid;
      margin-left: 4em;
      background: #fff;
      border-radius: 5px;
      box-shadow: $box-shadow-standard;
      .container .primary-button {
        box-shadow: $box-shadow-standard;
      }
    }
  }

  .research-qoute {
    justify-content: center;
  }

  .editorial-card {
    padding: 0 6.5em;
  }

  // contact-page styles

  .contact-page-section {
    padding: 2em;
    .contact-container .contact-form .contact-form-container .left .input-area .submit-button {
      width: 15vw;
    }
    .show-modal {
      top: 40%;
      left: 35%;
      width: 30vw;
      height: auto;
    }
  }

  // Thank you page

  .thank-you-section .thank-you-container .thank-you-message {
    margin: 2em;
    padding: 1em;
  }

  footer .footer-container .footer-details {
    padding: 1em 6.5em;
  }
}

/*Large Laptop/ Desktop viewport styles */
@media only screen and (min-width: 1550px) {
  // top-nav styles
  .nav-container header {
    .logo {
      padding-left: 11.5em;
      .logo-placeholder {
        margin-left: 1.5em;
      }
      .logo-container {
        margin-left: 10px;
        .logo-title {
          font-size: 13px;
        }
      }
    }
    nav ul {
      margin-right: 10em;
    }
  }

  .hero-container {
    .hero-donation {
      margin-left: 10em;
    }
  }

  .editorial-card {
    margin: 0 6.5em;
  }
  // contact page styles

  .contact-page-section {
    padding: 0;
    .contact-container {
      margin: 4em;
    }
    .show-modal {
      width: 25vw;
      .close-modal .close-icon {
        position: relative;
        top: -34px;
        left: 186px;
      }
    }
  }

  footer .footer-container {
    .footer-details {
      padding: 2em 13em;
      .footer-top-bar {
        margin-left: 2em;
        .logo {
          .logo-placeholder {
            margin-right: 12px;
            margin-left: -31px;
            .company-logo {
              display: flex;
              img {
                width: 90px;
              }
            }
          }

          .logo-container {
            .logo-title {
              letter-spacing: 9pt;
              line-height: 14px;
              padding-top: 5px;
              font-size: 21px;
            }
            .logo-subtitle {
              font-size: 18px;
              letter-spacing: 2pt;
              font-variant-caps: all-petite-caps;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1900px) {
  .nav-container header .logo {
    padding-left: 13em;
  }

  // index
  .hero-container {
    height: 95vh;
    .hero-text-content {
      padding: 14em 6em 0em 14em;
    }
  }

  .research-qoute {
    padding: 1em 11em 4em 11em;
  }

  .featured {
    padding: 7em;
    &::before {
      left: 10em;
      top: 3em;
    }
    .right img {
      width: 50%;
    }
  }

  .skills,
  .portfolio {
    padding: 13em;
  }
  .about {
    padding: 14em;
  }

  .portfolio {
    padding: 15em;
    .portfolio-container {
      margin: 2em 0;
      grid-gap: 5em;
      .portfolio-left {
        margin: 0;
        .inner .subtitle {
          margin-top: 0;
        }
      }
      .right img {
        height: 27vh;
        width: 20vw;
        margin-top: 0;
      }
    }
  }

  .hero-container.remind-me-project {
    height: 92vh;
    .is-centered {
      justify-content: flex-start;
      align-items: center;
      .hero-text-content {
        padding: 14em;
        .hero-title-case-study {
          .hero-title {
            font-weight: 900;
          }
          .hero-subtitle {
            font-size: 32px;
            font-weight: 900;
            background-color: #f0f8ff33;
          }
        }
      }
    }
  }

  .hero-container.guitar-project .is-centered .hero-text-content {
    margin-left: 10em;
  }

  .contact-page-section {
    padding: 3em;
    .contact-container {
      margin: 0;
      .contact-form {
        width: 30vw;
        .contact-form-container .left {
          width: 30vw;
          .input-area .submit-button {
            width: 12vw;
          }
        }
      }
    }
    .show-modal {
      top: 38%;
      left: 36.5%;
      width: 25vw;
      height: auto;
      box-shadow: $box-shadow-standard;
      justify-content: flex-start;
      align-items: flex-start;
      transition: 3s ease-in-out;
      ul {
        display: flex;
        flex-direction: row;
        grid-gap: 3em;
        li {
          padding: 2em;
        }
      }
      .close-modal .close-icon {
        position: relative;
        top: -37px;
        left: 460px;
      }
    }
  }

  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .first-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .second-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .third-child,
  .contact-page-section .contact-container .contact-form .contact-form-container .left .input-area label .text-field {
    width: 25vw;
    height: auto;
  }

  section {
    padding: 2em 14em;
  }
  footer .footer-container .footer-details {
    padding: 5em 18em;
  }
}
